include ../config/config

#app.app
  .icon
    include ../includes/icon
  h1.app__title #{ title }
  .card
    button(type="button")#counter.button
    button(type="button")#theme.button Light
footer.footer Copyright Todos los derechos
