:root, [data-theme=default] {
  --color-tan-10: #FFE0C2;
  --color-tan-20: #FF9966;
  --color-tan-30: #ffc2a3;
  --color-tan-40: #997a5c;
  --color-tan-50: #997a5c;
  --color-tan-60: #242424;
  --color-tan-70: #4C3D2E;
}

