#app
  a(href="#" target="_blank")
    img(src="/vite.svg", alt="Logo image typescript").logo
  a(href="#" target="_blank")
    img(src="/src/typescript.svg", alt="Logo image typescript").logo.vanilla
  h1 Vite + TypeScript
  .card
    button(type="button")#counter
  p.read-the-docs
    Click on the Vite and TypeScript logos to rearn more

